<VirtualHost *:80>
	{% if domain_name is defined %}ServerName {{ domain_name }} {% endif %}

	ServerAdmin {{ server_admin }}
	DocumentRoot {{ apache_dir }}/public

	ErrorLog ${APACHE_LOG_DIR}/slim_error.log
	CustomLog ${APACHE_LOG_DIR}/slim_access.log combined

	<Directory {{ apache_dir }}/public>
		<IfModule mod_rewrite.c>
		  RewriteEngine On
		  RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
		  RewriteRule ^(.*) - [E=BASE:%1]

		  RewriteCond %{REQUEST_FILENAME} !-f
		  RewriteRule ^ index.php [QSA,L]
		</IfModule>
	</Directory>

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
